* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2, p {
    color: #6583c6;
    font-weight: 400;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #5D9A05, #9BC004);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background-color: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(235, 235, 235, 0.3)
    );
    display: flex;
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(3rem);
    
}

.circle1,
.circle2 {
    background-color: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.9),
        rgba(235, 235, 235, 0.1)
    );
    height: 15rem;
    width: 15rem;
    position: absolute;
    border-radius: 50%;
    
}

.circle1 {
    top: 5%;
    right: 10%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.9),
        rgba(235, 235, 235, 0.1)
    );
    border-radius: 2rem;
    padding: 2rem;
}

.link {
    display: flex;
    margin: 2rem 0rem;
    align-items: center;
}

.link h2 {
    padding: 0rem 1rem;
}
.games {
    flex: 2;
}

.pro {
    background: linear-gradient(to right top, #5D9A05, #9BC004);
    border-radius: 2rem;
    color: #fff;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

.pro h2 {
    color: #fff;
    font-weight: 600;
}
